
header h1 {
    font-size: 30px;
}

header h2 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.box-content
{
    background-color: #fff;
    padding: 20px 20px;
    margin: 10px 0px;
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

.box-content:hover
{
    background-color: #000000;
    color: #fff;
    cursor:pointer;
}

@media screen and (max-width:900px) {
    header h1 {
        font-size: 20px;
    }
    
    header h2 {
  
        font-size: 30px;
    }
    
    .box-content
    {
        background-color: #fff;
        padding: 20px 20px;
        margin: 10px 0px;
        width: 100%;
        height: 90%;
        border-radius: 5px;
    }
    
    .box-content:hover
    {
        background-color: #000000;
        color: #fff;
        cursor:pointer;
    }
       
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: rgb(0, 0, 0);
  }