/* You can add global styles to this file, and also import other style files */

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url('../src/assets/images/victor-iaquA2snPbk-unsplash.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}